{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- needed for bulma -->
    <title><title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> <!-- bulma -->
    <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet"/> <!-- any custom stuff we do -->
    {% block html_head %}{% endblock %} <!-- anything else from extending html -->
</head>
<body>
{% block navigation %}
{% endblock %}

{% block page_content %}
{% endblock %}
</body>
</html>