{% extends "admin/base.html" %}
{% block title %}Inventory -- Admin{% endblock %}
{% block navigation %}
    {{ nav_link('admin_home', 'Inventory') }}
    {{ nav_link('sales', 'Sales') }}
    {{ nav_link('sku_search', 'Item Lookup') }}
    {{ nav_link('users', 'Users') }}
    {{ nav_link('logout', 'LOGOUT') }}
{% endblock %}
{% block page_content %}
    <!--table sort by popularity and stock, will need to read from SQL database -->
{% set inventory_list = [ {
        "description" : xxx,
        "location" : yyy,
        "status" : zzz
    },]

%}
    <div class="container">
    <br><br>
    <div class ="responsive-table__container box center boxbck navbar">
        <table class ="table">
        <thead>
            <tr class="ui-widget-header">
                <th>Shoe Name</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Gender</th>
                <th>Size</th>
                <th>Price</th>
                <th>Inventory</th>
                <th>SKU</th>
                <th>Colour</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td> {{ item.brand }}</td>
                    <td> {{ item.type }} </td>
                    <td> {{ item.gender }} </td>
                    <td> {{ item.size }} </td>
                    <td> {{ item.price }} </td>
                    <td> {{ item.inventory }}</td>
                    <td> {{ item.sku }} </td>
                    <td> {{ item.colour }} </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    </div>
    <br><br>
{% endblock %}

