{% extends "admin/base.html" %}
{% block title %}Item Lookup{% endblock %}
{% block navigation %}
    {{ nav_link('admin_home', 'Inventory') }}
    {{ nav_link('sales', 'Sales') }}
    {{ nav_link('sku_search', 'Item Lookup') }}
    {{ nav_link('users', 'Users') }}
    {{ nav_link('logout', 'LOGOUT') }}
{% endblock %}

{% block page_content %}
    <form>
    <!-- can search by sku -->
    <label for ="shoesku">Enter the SKU:</label>
    <input type="text" id="shoesku">
    <br>
    <input type ="submit" value="SEARCH">
    </form>

{% endblock %}