{% extends "admin/base.html" %}
{% block title %}Item Lookup{% endblock %}
{% block navigation %}
    {{ nav_link('admin_home', 'Inventory') }}
    {{ nav_link('sales', 'Sales') }}
    {{ nav_link('sku_search', 'Item Lookup') }}
    {{ nav_link('users', 'Users') }}
    {{ nav_link('logout', 'LOGOUT') }}
{% endblock %}

{% block page_content %}
    <div class="container">
    <div class="box">
        <form class="align-center">
            <!-- can search by sku -->
            <label for="shoesku">Enter the SKU:</label>
            <input type="text" id="shoesku">
            <input type="submit" class="button" value="SEARCH">
        </form>
    </div>
    <div class="hidden box">
        <!--results here using endpoint /get_item/<barcode> OR make separate result page-->
    </div>

    </div>

{% endblock %}