{% extends "admin/base.html" %}
{% block title %}Admin Inventory Lookup{% endblock %}
{% block navigation %}
    {{ nav_link('admin_home', 'Inventory') }}
    {{ nav_link('sales', 'Sales') }}
    {{ nav_link('sku_search', 'Item Lookup') }}
    {{ nav_link('users', 'Users') }}
    {{ nav_link('logout', 'LOGOUT') }}
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="box boxbck">
                        <h1 class="title is-3">SKU Item Lookup</h1>
            <form class="align-center" action="{{ url_for('get_item', barcode='') }}" method="POST">
                <!-- can search by sku -->
                <label for="barcode" class="subtitle">Enter the SKU:</label>
                <input type="text" id="barcode" name="barcode" class="input">
                <br><br>
                <input type="submit" class="button is-Large" value="SEARCH">
            </form>
        </div>
        <div class="hidden box">
            <!--results here using endpoint /get_item/<barcode> OR make separate result page-->
        </div>

    </div>

{% endblock %}