<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./Styles.css">
  <title>Document</title>
</head>

<body>

  <div class="top">
    <br>
    <img class="logoimg" src="./assets/Good_Sole_Company_logo.jpeg" alt="Company Logo" width="120px">
    <h3 class="company">Good Sole</h3>
  </div>

  <div class="headingcolor">
    <h3 class="header">Users Table</h3>
    <div class="logo">

    </div>
  </div>
  <div></div>
  <div class="addcolor">
    <h4 class="adder"><u>ADD</u></h4>
    <form action="/action_page.php" method="post">
      <label class="userinput " for="username">Username:</label>
      <input type="text" name="username">
      <br>
      <br>
      <label class="userinput" for="password">Password:</label>
      <input type="password" name="password">
      <br>
      <br>
      <input class="admin" type="submit" value="ADD">

      <input class="adminbox" type="checkbox">
      <label>admin?</label>
      <br>
      <br>
      <input class="button" type="submit" value="Create">
    </form>
  </div>


  </div>


  <div class="deletecolor">
    <h4 class="remover"><u>DELETE</u></h4>
    <form action="/action_page.php" method="get">
      <label class="userinput" for="username">Username:</label>
      <input type="text" id="username" name="username">
      <br>
      <br>
      <input class="button" type="submit" value="Delete">

    </form>
  </div>



  <form action="/action_page.php" method="get">
    <div class="footer">
      <p class="copyright">Copyright ©2024 <br> HackHive TEAM 25</p>
  </div>
</body>

</html>