{% extends "admin/base.html" %}
{% block title %}Sales -- Admin{% endblock %}
{% block navigation %}
    {{ nav_link('admin_home', 'Inventory') }}
    {{ nav_link('sales', 'Sales') }}
    {{ nav_link('sku_search', 'Item Lookup') }}
    {{ nav_link('users', 'Users') }}
    {{ nav_link('logout', 'LOGOUT') }}
{% endblock %}
{% block page_content %}
<!-- this will be our graphy page -->

    <div class="container">
        <div class="box">
            <h1>graph</h1>
        </div>

    </div>
{% endblock %}

