{% extends "employee/base.html" %}
{% block title %}Employee POS{% endblock %}
{% block navigation %}
    {{ nav_link('employee_home', 'Home') }} <!-- this is where the employees will ring through sku's -->
    {{ nav_link('item', 'Item Lookup') }} <!-- for karens asking DO YOU HAVE XYZ -->
    {{ nav_link('logout', 'LOGOUT') }}
{% endblock %}

{% block pos %}
    <div class="container center2">
        <div class="barcode box center2 boxbck">
            <h2 class="center2 title is-3"><u>SKU</u></h2>
            <form class="center2" action="">
                <label class="title is-4" for="barcode">Barcode (number):</label>
                <input type="number" id="barcode" name="barcode" class="input"><br><br>
                <input class="button is-large" type="button" value="ADD" onclick="addItem()">
                <!-- probably need to append to lists onclick, and add value to total -->
            </form>
        </div>
    <div class="box center2 boxbck2">
        <h4 class="center2 title is-3">Items</h4>
        <img src="../../static/images/shopping-bag.png" width="70">

        <ul>
            {% for item in order_items %}
                <li><p>{{ item }}</p>
                    <p>{{ order_prices[count] }}</p></li>
                count +=1
            {% endfor %}
        </ul>
        <br>
        <p class="title is-3">Total: <span id="total_price">0</span></p>
    </div>

    <input type="button" class="button is-large purch" value="Purchase">
    <br><br>
    </div>
    <div class="barcode"></div>
    <script>
        function addItem() {
            var barcode = document.getElementById('barcode').value;

            // Make an AJAX request to the Flask server
            fetch('/get_item/' + barcode)
                .then(response => response.json())
                .then(data => {
                    // Process the data and update the template
                    update_page(data);
                })
                .catch(error => console.error('Error:', error));
        }

        function update_page(data) {
            // get elements from html document
            var items_list = document.getElementById('orderList');
            var total = document.getElementById('totalPrice');

            var item_add = document.createElement('li');
            item_add.innerHTML = '<p>' + data.name + '</p><p>' + data.price + '</p>';
            items_list.appendChild(item_add);

            // Update the total price
            total.textContent = parseFloat(total.textContent) + data.price;
        }
    </script>
{% endblock %}

