<head><u><strong>Good Sole</strong></u></head>

<body>
<div>
    <h3>SKU</h3>
    <form action="/action_page.php">
        <label for="fname">Barcode (number):</label>
        <input type="number" id="barcode" name="barcode"><br>
        <input type="submit" value="ADD">
      </form>
</div>

<div>
    <h4>Items</h4>
    <img src="./assets/shopping-bag.png" width="50">
    <ul>
        <li>item-name1   [$price]</li>
        <li>item-name2   [$price]</li>
        <li>item-name3  [$price]</li>
    </ul>

    <p>Total:</p>
</div>
</body>