{% extends "employee/base.html" %}
{% block title %}Employee POS{% endblock %}
{% block navigation %}
    {{ nav_link('employee_home', 'Home') }} <!-- this is where the employees will ring through sku's -->
    {{ nav_link('item', 'Item Lookup') }} <!-- for karens asking DO YOU HAVE XYZ -->
    {{ nav_link('logout', 'LOGOUT') }}
{% endblock %}

{% block pos %}
<div>
    <h3>SKU</h3>
    <form action="">
        <label for="barcode">Barcode (number):</label>
        <input type="number" id="barcode" name="barcode"><br>
        <input type="submit" value="ADD"> <!-- probably need to append to lists onclick, and add value to total -->
      </form>
</div>

<div>
    <h4>Items</h4>
    <img src="./assets/shopping-bag.png" width="50">

    <ul>
        {% for item in order_items %}
            <li><p>{{ item }}</p> <p>{{ order_prices[count] }}</p></li>
            count +=1
        {% endfor %}
    </ul>

    <p>Total: <span id="total_price">0</span></p>
</div>

<script>
function addItem() {
    var barcode = document.getElementById('barcode').value;

    // Make an AJAX request to the Flask server
    fetch('/get_item/' + barcode)
        .then(response => response.json())
        .then(data => {
            // Process the data and update the template
            update_page(data);
        })
        .catch(error => console.error('Error:', error));
}

function update_page(data) {
    // get elements from html document
    var items_list = document.getElementById('orderList');
    var total = document.getElementById('totalPrice');

    var item_add = document.createElement('li');
    item_add.innerHTML = '<p>' + data.name + '</p><p>' + data.price + '</p>';
    items_list.appendChild(item_add);

    // Update the total price
    total.textContent = parseFloat(total.textContent) + data.price;
}
</script>
{% endblock %}

