<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles.css">

    <title>Client/Empoyee</title>
</head>

<body>

<div class="titlebarHolder">
    <div class="titlebar">
        <img class="logo" src="./assets/Good Sole Company logo.jpeg" alt="" width="140px">
        <h3 class="title"><u><strong>Good Sole</strong></u></h3>
    </div>
</div>
<div class="barcode">
    <h3 class="SKU">SKU</h3>
    <form action="/action_page.php">
        <label for="fname">Barcode:</label>
        <br>
        <input type="number" class="barcode" name="barcode"><br>
        <input class="button" type="submit" value="ADD">
      </form>
</div>

<div class="itemList">
    <h4>Items</h4>
    <img src="./assets/shopping-bag.png" width="70">
    <ul class="items">
        <p>item-name1 [$price]</p>
        <p>item-name2 [$price]</p>
        <p>item-name3 [$price]</p>
    </ul>

    <p>Total: [$$$]</p>
</div>

<div class="footer">
    <p class="copyright">Copyright ©2024 <br> HackHive TEAM 25</p>
</div>
</body>