<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>
    <link rel="stylesheet" href="static/loginStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> <!-- bulma -->
</head>

<body>
<div class="heading2">
    <h3 class="top"><strong><u>Good Sole</u></strong></h3>
</div>

<img class="logo" src="/static/images/logo.jpeg" width="200">

<form action="{{ url_for('login') }}" method="post">
    <p class="login"><strong>Login</strong></p>
    <br>
    <label for="fUsername" class="fUsername">Username:</label>
    <input type="text" class="fUsernamein" id="fUsername" name ="fUsername"><br>
    <br>
    <label for="fPassword" class="fPassword">Password:</label>
    <input type="password" class="fPasswordin" id="fPassword" name="fPassword"><br>
    <br>
    <button type="submit" class="button">Log In</button>
    <br><br><br>

</form>
<div class="footer2">
    <p class="copyright">Copyright ©2024 <br> HackHive TEAM 25</p>
</div>
</body>
</html>