<head>Users Table</head>

<h4><u>ADD</u></h4>

<body>
  <div>
    <form action="/action_page.php" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    <br>
    <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <br>
        <input type="submit" value="ADD">
     
      <input type="checkbox">
      <label>admin?</label>
      <br>
      <br>
      <input type="submit" value="create">
    </form>


    </div>
    <br>
    <div>
      <hr>
      <h4><u>DELETE</u></h4>
      <form action="/action_page.php" method="get">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        
        <br>
        <br>
        <input type="submit" value="Delete">
        </form>




    </div>

</body>
<form action="/action_page.php" method="get">
    